$gradient-accent: linear-gradient(120deg, indigo 40%, navy 100%);

nav {
  top: 0;
  position: fixed;
  width: 100vw;

  padding: 18px;
  background: $gradient-accent;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav * {
  color: lavender;
}

nav > section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-icon {
  height: 110px;
  width: 110px;
  margin-right: 20px;

  border-radius: 55px;
  border: solid lavender 5px;
}

#nav-title {
  font-size: 3.5em;
}

#nav-description {
  font-size: 1.5em;
}
