/* coloring notes
 * require a dark purple cause it looks cool
 * the main webpage should be a very light green
 */

body {
  margin:0px;
  font-family:'Roboto Slab';
  background-color: lavenderblush;
}

@font-face { /* roboto slab */
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'), url(./roboto_slab/RobotoSlab-Regular.ttf), format('ttf');
}

/* nav bar */
nav {
  background-color:indigo;
  position:fixed;
  width:100%;
  height:10%;
  padding:10px;
  padding-left: 30px;
  z-index: 2;

  display: flex;
  align-items: flex-end;
}

img.nervIcon {
  z-index: -1;
  width: 100vw;
  height: 100vw;
  position: 
}

nav > h1 {
  color: white;
  font-size: 200%;
  /* position: absolute; forces it out of a flexible box */
  margin-right: 25px;
  margin-bottom: 0px;
}

p.navText {
  color:white;
  margin-bottom: 2px;
}

/* main body */
main {
  height: 100vh;
  padding:30px;
  padding-top: 100px;
}

main > h1 {
  font-size: 250%;
  margin-bottom: 0px;
}

main > small {
  font-size: .9em;
}

ol#TodoList > li {
  padding-bottom: 30px;
}

ol#TodoList > li::marker {
  font-size: 24px;
  color: indigo;
}

/* nerv background */
.nervBackground {
  opacity: 0.1;
  width: 100%;
  height: auto;
}

.nervBackground > img {
  position: fixed;
  top: 0;
  right: 0;
}
