body {
  background-color: #babee0;
  /* font-family:'Courier New', Courier, monospace; */
  font-family:'Roboto Slab';
  margin: 0px;
}

.main {
  padding: 10px;
  padding-top: 100px;
  margin-bottom: 100px;
}

nav { /* contains h1 and .nav_items */
  /* switch between relative and fixed
   * force into fixed when the nav_items hit the top of the page
   * for some reason sticky pos and borderstyle doesnt work but whatever */
  position: sticky;
  background: #babee0;
  top: 0;
  left: 0;
  margin: 0px;
  z-index: 1; /* layer on top of other stuff */
}

.nav_items {
  /* tutorial on how to make the nav bar nice
   * these two lines force the top nav bar horizontally */
  list-style: none;
  display: flex; /* flex means flexible container (flexbox) */

  /* maintain the spacing between items and keep them nice looking in flexbox */
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;

  width: 100%;
  height: 30px;
  background-color: #a7abcc;
  border-style: hidden hidden hidden solid; 
  border-width: 8px;
  border-color: black;
}

nav > h1 {
  /* padding: 10px; */
  padding-top: 10px;
}

.nav_items > li {
  /* here you customize things in each list item in .nav_items */
}

h1 {
  color: #0e050f;
  size: 300%;
  font-weight: bold;
  text-align: center;
}

p {
  color: #170b3b;
  border: 3mm ridge #69307a;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 6mm;
  letter-spacing: 1px;
}

figure { 
  /* defaults according to w3schools */
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

figcaption {
  width: 100rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 100px;
}

footer {
  position:fixed;
  background-color: #a7abcc;
  width: 100%;
  height: 8%;
  left: 0%;
  bottom: 0%;
  border: none;
  padding: 10px;
}

.reactlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
  border: 10px solid #61dbfb;
  background: black;
}

.end {
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-size: 85%;
  margin: 5px;
  border: none;
}

@font-face { /* roboto slab */
  font-family: 'Roboto Slab';
  src: local('Roboto Slab'), url(./roboto_slab/RobotoSlab-Regular.ttf), format('ttf');
}
