$black-700: #313638;
$gradient-accent: linear-gradient(120deg, indigo 40%, navy 100%);
$gradient-background: linear-gradient(280deg, lavender, lavenderBlush);

* {
  color: $black-700;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $gradient-background;
}

#front-page-main {
  font-size: 2em;
  margin: 0 10px;
}
